<%= form_tag '/shorten', remote: true do %>
  <div class="form-group">
    <input type="text" class="form-control" id="url" placeholder="Enter the URL you would like to shorten" name="url">
  </div>
  <button type="submit" class="btn btn-default">Shorten me</button>
<% end %>

<br>


<h3>Your shortly links</h3>
<ul id= "urls">
  <% if session[:urls] %>
    <% session[:urls].reverse_each.each do |shortened_url, submitted_url| %>
      <li><%= link_to "#{root_path}""#{shortened_url}", shortened_url %> => <%= link_to submitted_url, submitted_url %> </li>
    <% end %>
  </ul>
<% end %>